# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/andersfylling/disgord
    steps:
      - checkout
      - run: go get -v -t -d .
      - run: go test -race -coverprofile=coverage.txt -covermode=atomic .
      - run: bash <(curl -s https://codecov.io/bash)
