name: Code Quality
on: [pull_request]
jobs:
  formatting:
    name: go fmt
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get dependencies
        run: go mod download
      - name: Formatting
        run: diff <(gofmt -d ./...) <(echo -n)
  generate:
    name: go generate
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get dependencies
        run: go mod download
      - name: stringer
        run: go get golang.org/x/tools/cmd/stringer
      - name: go generate
        run: go generate
      - name: validate generated code
        run: git diff --exit-code -- . ':(exclude)go.sum' ':(exclude)go.mod'
